- hosts: core-1
  gather_facts: no
  vars:
    wg_core_address: "{{ lookup('env','WG_CORE_ADDRESS') }}"
    wg_edge_1_address: "{{ lookup('env','WG_EDGE_1_ADDRESS') }}"
    wg_edge_2_address: "{{ lookup('env','WG_EDGE_2_ADDRESS') }}"
    bgp_as: "{{ lookup('env','BGP_AS') }}"

  tasks:
    - name: Configure BGP on core
      vyos.vyos.vyos_config:
        lines:
          - "set protocols bgp system-as {{ bgp_as }}"
          - "set protocols bgp parameters router-id {{ wg_core_address }}"

          - "set protocols bgp neighbor {{ wg_edge_1_address }} remote-as {{ bgp_as }}"
          - "set protocols bgp neighbor {{ wg_edge_2_address }} remote-as {{ bgp_as }}"
          - "set protocols bgp neighbor {{ wg_edge_1_address }} address-family ipv4-unicast"
          - "set protocols bgp neighbor {{ wg_edge_2_address }} address-family ipv4-unicast"
          - "set protocols bgp peer-group EDGES remote-as {{ bgp_as }}"
          - "set protocols bgp peer-group EDGES address-family ipv4-unicast"
          - "set protocols bgp neighbor {{ wg_edge_1_address }} peer-group 'EDGES'"
          - "set protocols bgp neighbor {{ wg_edge_2_address }} peer-group 'EDGES'"
          - "set protocols bgp peer-group EDGES address-family ipv4-unicast route-reflector-client"
          - "set protocols bgp peer-group EDGES address-family ipv4-unicast next-hop-self"

        save: true
