- hosts: core-1
  gather_facts: no
  vars:
    wg_core_address: "{{ lookup('env','WG_CORE_ADDRESS') }}"
    wg_edge_1_address: "{{ lookup('env','WG_EDGE_1_ADDRESS') }}"
    wg_edge_2_address: "{{ lookup('env','WG_EDGE_2_ADDRESS') }}"
    bgp_as: "{{ lookup('env','BGP_AS') }}"

  tasks:
    - name: Configure BGP on core
      vyos.vyos.vyos_config:
        lines:
          - "set protocols bgp {{ bgp_as }} parameters router-id {{ wg_core_address }}"

          - "set protocols bgp {{ bgp_as }} neighbor {{ wg_edge_1_address }} remote-as {{ bgp_as }}"
          - "set protocols bgp {{ bgp_as }} neighbor {{ wg_edge_2_address }} remote-as {{ bgp_as }}"

          - "set protocols bgp {{ bgp_as }} neighbor {{ wg_edge_1_address }} route-reflector-client"
          - "set protocols bgp {{ bgp_as }} neighbor {{ wg_edge_2_address }} route-reflector-client"

        save: true
