- hosts: core-1
  gather_facts: no
  vars:
    wg_core_address: "{{ lookup('env','WG_CORE_ADDRESS') }}"
    wg_edge_1_address: "{{ lookup('env','WG_EDGE_1_ADDRESS') }}"
    wg_edge_2_address: "{{ lookup('env','WG_EDGE_2_ADDRESS') }}"
    bgp_as: "{{ lookup('env','BGP_AS') }}"

  tasks:
    - name: Configure BGP on core
      vyos.vyos.vyos_config:
        lines:
          # BGP global
          - "set protocols bgp system-as {{ bgp_as }}"
          - "set protocols bgp parameters router-id {{ wg_core_address }}"

          # Neighbors
          - "set protocols bgp neighbor {{ wg_edge_1_address }} remote-as {{ bgp_as }}"
          - "set protocols bgp neighbor {{ wg_edge_2_address }} remote-as {{ bgp_as }}"

          # Activate IPv4 unicast
          - "set protocols bgp neighbor {{ wg_edge_1_address }} address-family ipv4-unicast"
          - "set protocols bgp neighbor {{ wg_edge_2_address }} address-family ipv4-unicast"

          # Force traffic to go via the core (HUB)
          - "set protocols bgp neighbor {{ wg_edge_1_address }} address-family ipv4-unicast nexthop-self"
          - "set protocols bgp neighbor {{ wg_edge_2_address }} address-family ipv4-unicast nexthop-self"

        save: true
