- hosts: edge-1
  gather_facts: no
  vars:
    lan_edge_1_address: "{{ lookup('env','LAN_EDGE_1_ADDRESS') }}"
    lan_mask: "{{ lookup('env','LAN_MASK') }}"
    lan_edge_1_network: "{{ lookup('env','LAN_EDGE_1_NETWORK') }}"
    lan_edge_1_dhcp_range_start: "{{ lookup('env','LAN_EDGE_1_DHCP_RANGE_START') }}"
    lan_edge_1_dhcp_range_end: "{{ lookup('env','LAN_EDGE_1_DHCP_RANGE_END') }}"
    dns_server: "{{ lookup('env','DNS_SERVER') }}"
    lan_edge_1_subnet_id: "{{ lookup('env','LAN_EDGE_1_SUBNET_ID') }}"

  tasks:
    - name: Configure LAN interface on edge-1
      vyos.vyos.vyos_config:
        lines:
          - "set interfaces ethernet eth1 address '{{ lan_edge_1_address }}/{{ lan_mask }}'"
        save: true

    - name: Configure DHCP server on edge-1
      vyos.vyos.vyos_config:
        lines:
          - "set service dhcp-server shared-network-name LAN1 authoritative"
          - "set service dhcp-server shared-network-name LAN1 subnet {{ lan_edge_1_network }}/{{ lan_mask }} subnet-id {{ lan_edge_1_subnet_id }}"
          - "set service dhcp-server shared-network-name LAN1 subnet {{ lan_edge_1_network }}/{{ lan_mask }} option default-router {{ lan_edge_1_address }}"
          - "set service dhcp-server shared-network-name LAN1 subnet {{ lan_edge_1_network }}/{{ lan_mask }} option name-server {{ dns_server }}"
          - "set service dhcp-server shared-network-name LAN1 subnet {{ lan_edge_1_network }}/{{ lan_mask }} range 0 start {{ lan_edge_1_dhcp_range_start }}"
          - "set service dhcp-server shared-network-name LAN1 subnet {{ lan_edge_1_network }}/{{ lan_mask }} range 0 stop {{ lan_edge_1_dhcp_range_end }}"
        save: true

    - name: Configure NAT for LAN clients (Internet breakout)
      vyos.vyos.vyos_config:
        lines:
          - "set nat source rule 100 outbound-interface name eth0"
          - "set nat source rule 100 source address {{ lan_edge_1_network }}/{{ lan_mask }}"
          - "set nat source rule 100 translation address masquerade"
        save: true
