- hosts: edge-2
  gather_facts: no
  vars:
    lan_edge_2_address: "{{ lookup('env','LAN_EDGE_2_ADDRESS') }}"
    lan_mask: "{{ lookup('env','LAN_MASK') }}"
    lan_edge_2_network: "{{ lookup('env','LAN_EDGE_2_NETWORK') }}"
    lan_edge_2_dhcp_range_start: "{{ lookup('env','LAN_EDGE_2_DHCP_RANGE_START') }}"
    lan_edge_2_dhcp_range_end: "{{ lookup('env','LAN_EDGE_2_DHCP_RANGE_END') }}"
    dns_server: "{{ lookup('env','DNS_SERVER') }}"
    lan_edge_2_subnet_id: "{{ lookup('env','LAN_EDGE_2_SUBNET_ID') }}"

  tasks:
    - name: Configure LAN interface on edge-2
      vyos.vyos.vyos_config:
        lines:
          - "set interfaces ethernet eth1 address '{{ lan_edge_2_address }}/{{ lan_mask }}'"
        save: true

    - name: Configure DHCP server on edge-2
      vyos.vyos.vyos_config:
        lines:
          - "set service dhcp-server shared-network-name LAN2 authoritative"
          - "set service dhcp-server shared-network-name LAN2 subnet {{ lan_edge_2_network }}/{{ lan_mask }} subnet-id {{ lan_edge_2_subnet_id }}"
          - "set service dhcp-server shared-network-name LAN2 subnet {{ lan_edge_2_network }}/{{ lan_mask }} option default-router {{ lan_edge_2_address }}"
          - "set service dhcp-server shared-network-name LAN2 subnet {{ lan_edge_2_network }}/{{ lan_mask }} option name-server {{ dns_server }}"

          - "set service dhcp-server shared-network-name LAN2 subnet {{ lan_edge_2_network }}/{{ lan_mask }} range 0 start {{ lan_edge_2_dhcp_range_start }}"
          - "set service dhcp-server shared-network-name LAN2 subnet {{ lan_edge_2_network }}/{{ lan_mask }} range 0 stop {{ lan_edge_2_dhcp_range_end }}"
        save: true
