- hosts: all
  gather_facts: no
  tasks:
    - name: Generate WG keys
      vyos_command:
        commands: generate pki wireguard key-pair
      register: wg_out

    - name: Parse keys
      set_fact:
        wg_private_key: "{{ wg_out.stdout[0] | regex_search('Private key: ([A-Za-z0-9+/=]+)', '\\1') }}"
        wg_public_key: "{{ wg_out.stdout[0] | regex_search('Public key: ([A-Za-z0-9+/=]+)', '\\1') }}"

    - debug:
        msg:
          - "WG_PRIVATE_KEY: {{ wg_private_key[0] }}"
          - "WG_PUBLIC_KEY:  {{ wg_public_key[0] }}"
