- hosts: core-2
  connection: network_cli
  gather_facts: no

  vars:
    semaphore_url: "{{ lookup('env','SEMAPHORE_URL') }}"
    project_id: "{{ lookup('env','PROJECT_ID') }}"
    semaphore_token: "{{ lookup('env','SEMAPHORE_TOKEN') }}"

  tasks:
    - name: Generate WG keys
      vyos_command:
        commands: generate pki wireguard key-pair
      register: wg_out
      no_log: false

    - name: Parse keys
      set_fact:
        wg_private_key: "{{ wg_out.stdout[0] | regex_search('Private key: ([A-Za-z0-9+/=]+)', '\\1') }}"
        wg_public_key:  "{{ wg_out.stdout[0] | regex_search('Public key: ([A-Za-z0-9+/=]+)', '\\1') }}"
      no_log: false


    - name: Create WIREGUARD_KEYS variable group in Semaphore
      delegate_to: localhost
      uri:
        url: "{{ semaphore_url }}/api/project/{{ project_id }}/environment"
        method: POST
        headers:
          Authorization: "Bearer {{ semaphore_token }}"
          Content-Type: "application/json"
          Accept: "application/json"
        body_format: json
        body:
          name: "WIREGUARD_KEYS"
          project_id: "{{ project_id }}"
          env: "{\"{{ inventory_hostname }}\" : \"{{ wg_public_key[0] }}\"}"
          json: "{}"
          password: ""
        status_code: [200, 201]
        return_content: true
      register: semaphore_api_result

    - name: Debug API response
      debug:
        var: semaphore_api_result
        env: "{\"{{ inventory_hostname }}\" : \"{{ wg_public_key[0] }}\"}"

    
    

