- hosts: core-1
  gather_facts: no
  vars:
    wg_interface: "{{ lookup('env','WG_INTERFACE') }}"
    wg_core_address: "{{ lookup('env','WG_CORE_ADDRESS') }}"
    wg_mask: "{{ lookup('env','WG_MASK') }}"
    wg_port: "{{ lookup('env','WG_PORT') }}"
    wg_core_private_key: "{{ lookup('env','WG_CORE_PRIVATE_KEY') }}"
    wg_edge_1_address: "{{ lookup('env','WG_EDGE_1_ADDRESS') }}"
    wg_edge_2_address: "{{ lookup('env','WG_EDGE_2_ADDRESS') }}"
    wg_edge_1_public_key: "{{ lookup('env','WG_EDGE_1_PUBLIC_KEY') }}"
    wg_edge_2_public_key: "{{ lookup('env','WG_EDGE_2_PUBLIC_KEY') }}"
    lan_edge_1_network: "{{ lookup('env','LAN_EDGE_1_NETWORK') }}"
    lan_edge_2_network: "{{ lookup('env','LAN_EDGE_2_NETWORK') }}"
    lan_mask: "{{ lookup('env','LAN_MASK') }}"

  tasks:
    - name: Configure WireGuard on core
      vyos.vyos.vyos_config:
        lines:
          - "set interfaces wireguard {{ wg_interface }} address '{{ wg_core_address }}/{{ wg_mask }}'"
          - "set interfaces wireguard {{ wg_interface }} description 'WIREGUARD'"
          - "set interfaces wireguard {{ wg_interface }} port '{{ wg_port }}'"
          - "set interfaces wireguard {{ wg_interface }} private-key '{{ wg_core_private_key }}'"

          # Peer edge-1
          - "set interfaces wireguard {{ wg_interface }} peer edge1 public-key '{{ wg_edge_1_public_key }}'"
          - "set interfaces wireguard {{ wg_interface }} peer edge1 allowed-ips '{{ wg_edge_1_address }}/32'"

          # Peer edge-2
          - "set interfaces wireguard {{ wg_interface }} peer edge2 public-key '{{ wg_edge_2_public_key }}'"
          - "set interfaces wireguard {{ wg_interface }} peer edge2 allowed-ips '{{ wg_edge_2_address }}/32'"

          # Edge-1 LAN
          - "set interfaces wireguard {{ wg_interface }} peer edge1 allowed-ips '{{ lan_edge_1_network }}/{{ lan_mask }}'"
          # Edge-2 LAN
          - "set interfaces wireguard {{ wg_interface }} peer edge2 allowed-ips '{{ lan_edge_2_network }}/{{ lan_mask }}'"

        save: true
