- hosts: core-1
  gather_facts: no
  vars:
    wg_core_interface: "{{ lookup('env','WG_CORE_INTERFACE') }}"
    wg_core_address: "{{ lookup('env','WG_CORE_ADDRESS') }}"
    wg_core_mask: "{{ lookup('env','WG_CORE_MASK') }}"
    wg_core_port: "{{ lookup('env','WG_CORE_PORT') }}"
    wg_core_private_key: "{{ lookup('env','WG_CORE_PRIVATE_KEY') }}"
    wg_edge_1_address: "{{ lookup('env','WG_EDGE_1_ADDRESS') }}"
    wg_edge_2_address: "{{ lookup('env','WG_EDGE_2_ADDRESS') }}"
    wg_edge_1_public_key: "{{ lookup('env','WG_EDGE_1_PUBLIC_KEY') }}"
    wg_edge_2_public_key: "{{ lookup('env','WG_EDGE_2_PUBLIC_KEY') }}"

  tasks:
    - name: Configure WireGuard on core
      vyos.vyos.vyos_config:
        lines:
          - "set interfaces wireguard {{ wg_core_interface }} address '{{ wg_core_address }}/{{ wg_core_mask }}'"
          - "set interfaces wireguard {{ wg_core_interface }} description 'WIREGUARD'"
          - "set interfaces wireguard {{ wg_core_interface }} port '{{ wg_core_port }}'"
          - "set interfaces wireguard {{ wg_core_interface }} private-key '{{ wg_core_private_key }}'"

          - "set interfaces wireguard {{ wg_core_interface }} peer {{ wg_edge_1_public_key }} allowed-ips '{{ wg_edge_1_address }}/32'"
          - "set interfaces wireguard {{ wg_core_interface }} peer {{ wg_edge_2_public_key }} allowed-ips '{{ wg_edge_2_address }}/32'"

        save: true
