- hosts: "{{ host }}"
  gather_facts: no
  tasks:
    - name: "View qos on {{ host }}"
      vyos.vyos.vyos_command:
        commands:
          - configure
          - show qos
          - exit
      register: qos_cfg

    - debug:
        var: qos_cfg.stdout[1]
