- hosts: "{{ host }}"
  gather_facts: no
  ignore_unreachable: yes

  tasks:
    - name: "View qos on {{ inventory_hostname }}"
      vyos.vyos.vyos_command:
        commands:
          - configure
          - show qos
          - exit
      register: qos_cfg
      ignore_errors: yes

    - debug:
        msg: |
          === QoS on {{ inventory_hostname }} ===
          {{ qos_cfg.stdout[1] }}
      when:
        - qos_cfg is defined
        - qos_cfg.stdout is defined
        - qos_cfg.stdout | length > 1
