- hosts: routers
  gather_facts: no
  tasks:
    - name: "View qos on {{ inventory_hostname }}"
      vyos.vyos.vyos_command:
        commands:
          - configure
          - show qos
          - exit
      register: qos_cfg

    - debug:
        msg: |
          === QoS on {{ inventory_hostname }} ===
          {{ qos_cfg.stdout[1] }}
