- hosts: "{{ host }}"
  gather_facts: no
  ignore_unreachable: yes

  tasks:
    - name: "Get interfaces infos of {{ host }}"
      vyos.vyos.vyos_command:
        commands:
          - show interfaces
      register: interfaces
      ignore_errors: yes

    - debug:
        msg: |
          {{ interfaces.stdout[0] }}
      when:
        - interfaces is defined
        - interfaces.stdout is defined
        - interfaces.stdout | length > 0

    - name: "Get ip bgp infos of {{ host }}"
      vyos.vyos.vyos_command:
        commands:
          - show ip bgp
      register: ipbgp
      ignore_errors: yes

    - debug:
        msg: |
          {{ ipbgp.stdout[0] }}
      when:
        - ipbgp is defined
        - ipbgp.stdout is defined
        - ipbgp.stdout | length > 0

    - name: "Get bgp summary infos of {{ host }}"
      vyos.vyos.vyos_command:
        commands:
          - show bgp summary
      register: bgpsummary
      ignore_errors: yes

    - debug:
        msg: |
          {{ bgpsummary.stdout[0] }}
      when:
        - bgpsummary is defined
        - bgpsummary.stdout is defined
        - bgpsummary.stdout | length > 0

    - name: "Get nat source rules infos of {{ host }}"
      vyos.vyos.vyos_command:
        commands:
          - show nat source rules
      register: nat
      ignore_errors: yes

    - debug:
        msg: |
          {{ nat.stdout[0] }}
      when:
        - nat is defined
        - nat.stdout is defined
        - nat.stdout | length > 0

    - name: "Get ip routes of {{ host }}"
      vyos.vyos.vyos_command:
        commands:
          - show ip route
      register: iproute
      ignore_errors: yes

    - debug:
        msg: |
          {{ iproute.stdout[0] }}
      when:
        - iproute is defined
        - iproute.stdout is defined
        - iproute.stdout | length > 0
