- name: Gathering {{ core }} WG public key
  hosts: "{{ core }}"
  gather_facts: no
  tasks:
    - name: Get {{ inventory_hostname }} WireGuard public key
      vyos_command:
        commands:
          - "show interfaces wireguard {{ wg_interface }} public-key"
      register: wg_pub_out

    - name: Set public key fact
      set_fact:
        wg_public_key: "{{ wg_pub_out.stdout[0] | trim }}"

- name: Resolve edge targets
  hosts: localhost
  gather_facts: no
  tasks:
    - set_fact:
        edge_list: "{{ groups[edge] if edge in groups else [edge] }}"

- name: Configuring {{ edge }}
  hosts: "{{ hostvars['localhost'].edge_list }}"
  gather_facts: no

  tasks:
    - name: Configure LAN interface
      vyos.vyos.vyos_config:
        lines:
          - "set interfaces ethernet {{ lan_interface }} address '{{ lan_address }}/{{ lan_mask }}'"
        save: true

    - name: Configure DHCP server
      vyos.vyos.vyos_config:
        lines:
          - "set service dhcp-server shared-network-name LAN authoritative"
          - "set service dhcp-server shared-network-name LAN subnet {{ lan_network }}/{{ lan_mask }} subnet-id {{ lan_subnet_id }}"
          - "set service dhcp-server shared-network-name LAN subnet {{ lan_network }}/{{ lan_mask }} option default-router {{ lan_address }}"
          - "set service dhcp-server shared-network-name LAN subnet {{ lan_network }}/{{ lan_mask }} option name-server {{ dns_server }}"
          - "set service dhcp-server shared-network-name LAN subnet {{ lan_network }}/{{ lan_mask }} range 0 start {{ lan_dhcp_range_start }}"
          - "set service dhcp-server shared-network-name LAN subnet {{ lan_network }}/{{ lan_mask }} range 0 stop {{ lan_dhcp_range_end }}"
        save: true

    - name: Configure NAT
      vyos.vyos.vyos_config:
        lines:
          - "set nat source rule 100 outbound-interface name {{ wan_interface }}"
          - "set nat source rule 100 source address {{ lan_network }}/{{ lan_mask }}"
          - "set nat source rule 100 translation address masquerade"
        save: true

    - name: Generate WireGuard key pair
      vyos_command:
        commands: generate pki wireguard key-pair
      register: wg_out

    - name: Parse WireGuard keys
      set_fact:
        wg_private_key: "{{ (wg_out.stdout[0] | regex_search('Private key: ([A-Za-z0-9+/=]+)', '\\1'))[0] }}"
        wg_public_key: "{{ (wg_out.stdout[0] | regex_search('Public key: ([A-Za-z0-9+/=]+)', '\\1'))[0] }}"

    - name: Configure WireGuard interface on {{ inventory_hostname }}
      vyos.vyos.vyos_config:
        lines:
          - "set interfaces wireguard {{ wg_interface }} address '{{ wg_address }}/{{ wg_mask }}'"
          - "set interfaces wireguard {{ wg_interface }} description 'WIREGUARD'"
          - "set interfaces wireguard {{ wg_interface }} private-key '{{ wg_private_key }}'"
          - "set interfaces wireguard {{ wg_interface }} peer core public-key '{{ hostvars[core].wg_public_key }}'"
          - "set interfaces wireguard {{ wg_interface }} peer core address '{{ hostvars[core].ansible_host }}'"
          - "set interfaces wireguard {{ wg_interface }} peer core port '{{ wg_port }}'"
          - "set interfaces wireguard {{ wg_interface }} peer core allowed-ips '0.0.0.0/0'"
          - "set interfaces wireguard {{ wg_interface }} peer core persistent-keepalive '25'"
        save: true

    - name: Configure BGP
      vyos.vyos.vyos_config:
        lines:
          - "set protocols bgp system-as {{ bgp_as }}"
          - "set protocols bgp parameters router-id {{ wg_address }}"
          - "set protocols bgp neighbor {{ hostvars[core].wg_address }} remote-as {{ bgp_as }}"
          - "set protocols bgp neighbor {{ hostvars[core].wg_address }} address-family ipv4-unicast"
          - "set protocols bgp address-family ipv4-unicast network {{ lan_network }}/{{ lan_mask }}"
        save: true

- name: Configure {{ core }} for  {{ edge }}
  hosts: "{{ core }}"
  gather_facts: no

  tasks:
    - name: Add WireGuard peers
      vyos.vyos.vyos_config:
        lines:
          - "set interfaces wireguard {{ wg_interface }} peer {{ item }} public-key '{{ hostvars[item].wg_public_key }}'"
          - "set interfaces wireguard {{ wg_interface }} peer {{ item }} allowed-ips '{{ hostvars[item].wg_address }}/32'"
          - "set interfaces wireguard {{ wg_interface }} peer {{ item }} allowed-ips '{{ hostvars[item].lan_network }}/{{ lan_mask }}'"
        save: true
      loop: "{{ hostvars['localhost'].edge_list }}"

    - name: Configure BGP neighbors
      vyos.vyos.vyos_config:
        lines:
          - "set protocols bgp neighbor {{ hostvars[item].wg_address }} remote-as {{ bgp_as }}"
          - "set protocols bgp neighbor {{ hostvars[item].wg_address }} address-family ipv4-unicast"
          - "set protocols bgp neighbor {{ hostvars[item].wg_address }} address-family ipv4-unicast route-reflector-client"
          - "set protocols bgp neighbor {{ hostvars[item].wg_address }} address-family ipv4-unicast nexthop-self"
        save: true
      loop: "{{ hostvars['localhost'].edge_list }}"
