- name: Testing libvirt
  hosts: vmhost
  gather_facts: no
  tasks:
    - name: List all VMs
      community.libvirt.virt:
        command: list_vms
      register: all_vms
    - debug:
        var: all_vms
